.TopLevelMadlibs-h1 {
  margin-bottom: 20px;
  color: #0f4c81;
}

.TopLevelMadlibs {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.TopLevelMadlibs-select {
  margin-bottom: 20px;
  color: #0d3b63;
  font-weight: bolder;
}